<div class="w-full text-2xl flex flex-col gap-5 hover:bg-white text-zinc-800 p-5 h-[500px]">


      <div tabindex="0" class="collapse collapse-arrow border border-base-300 bg-base-100 rounded-box">
        <div class="collapse-title text-xl font-medium">
          About Us
        </div>
        <div class="collapse-content h-96">
          <p class="text-lg">Our company</p>
          <p  class="text-lg">Our coffee</p>
          <p  class="text-lg">stories and news</p>
          <p  class="text-lg">starbucks Archieve</p>
          <p  class="text-lg">Investor Relations</p>
          <p  class="text-lg">customer services</p>
        </div>
      </div>
      <div tabindex="0" class="collapse collapse-arrow border border-base-300 bg-base-100 rounded-box">
        <div class="collapse-title text-xl font-medium">
          careers
        </div>
        <div class="collapse-content h-96">
          <p class="text-lg">culyure and values</p>
          <p class="text-lg"> Inclusion, Diversity, and Equity</p>
          <p class="text-lg">college Achievement plan</p>
          <p class="text-lg">Alumini community</p>
          <p class="text-lg">U.S careers</p>
          <p class="text-lg">International careers</p>
        </div>
      </div>
      <div tabindex="0" class="collapse collapse-arrow border border-base-300 bg-base-100 rounded-box">
        <div class="collapse-title text-xl font-medium">
          social impact
        </div>
        <div class="collapse-content">
          <p class="text-lg">people</p>
          <p class="text-lg"> planet</p>
          <p class="text-lg">environment and social impact Reporting</p>
        </div>
      </div>
      <div tabindex="0" class="collapse collapse-arrow border border-base-300 bg-base-100 rounded-box">
        <div class="collapse-title text-xl font-medium">
          for business partners
        </div>
        <div class="collapse-content h-72">
          <p class="text-lg">Landlord Support Center</p>
          <p class="text-lg">Suppliers</p>
          <p class="text-lg">Corporate gift card sales</p>
          <p class="text-lg">office and foodservice coffee</p>
        </div>
      </div>
      <div tabindex="0" class="collapse collapse-arrow border border-base-300 bg-base-100 rounded-box">
        <div class="collapse-title text-xl font-medium">
          orders and pickups
        </div>
        <div class="collapse-content">
          <p class="text-lg">order on the app </p>
          <p class="text-lg">order on the web</p>
          <p class="text-lg">delivery</p>
          <p class="text-lg">order and pickup actions</p>
          <p class="text-lg">Explore and find coffee for home</p>
        </div>
      </div>
</div>