<div>
     <!-- first card -->
    <div class="w-full my-7  md:flex md:w-[1480px] md:bg-black md:mx-auto md:h-[600px]  ">
       <img class="md:w-[50%]" src="../../assets/starbucks.jpg" alt="">
        <div class="bg-[#D4E9E2] p-6 -my-3  w-full  flex flex-col items-center justify-center md:p-28 text-center md:w-[50%] md:h-full md:my-0 ">
            <p class="text-2xl font-medium md:text-5xl md:font-sans "> Little choices,big changes</p>
            <p class="my-6  space-y-2 font-sans text-xl leading-7 md:text-2xl"> In celebration of earth week, we’re sharing simple planet-positive tips for your next Starbucks visit. Together we can help reduce waste and make an impact.</p>
   <button class="p-2 border border-black rounded-full text-sm pl-4 pr-4 md:font-bold">Learn more</button>        
        </div>
    </div> 
</div>
<!-- second -->
<div>
    <div  class="w-full my-7  md:flex md:w-[1480px] md:flex-row-reverse md:bg-black md:mx-auto md:h-[600px]">
        <img class="md:w-[50%]" src="../../assets/ghreen.jpg" alt="">
        <div class=" p-8 -my-3  w-full  flex flex-col items-center bg-[#006241] justify-center md:p-28 text-center md:w-[50%] md:h-full md:my-0 ">
            <p class="text-2xl font-medium md:text-5xl md:font-sans text-white  "> Earn Rewards with a personal cup</p>
            <p class="my-6  space-y-2 font-sans text-xl leading-7 md:text-2xl text-white"> Bring a clean personal cup into a café and you’ll get 10¢ off your drink order, plus 25 Stars for Starbucks® Rewards members. Stars add up to free food and drinks.*.</p>
   <button class="p-2 border border-white rounded-full text-sm pl-4 pr-4 md:font-bold  text-white">Join Starbucks Rewards</button>        
        </div>
    </div>
</div>
<!-- third -->
<div>
    <div  class="w-full my-7  md:flex md:w-[1480px]  md:bg-black md:mx-auto md:h-[600px]">
        <img class="md:w-[50%]" src="../../assets/coffee.jpg" alt="">
        <div class=" p-6 -my-3  w-full  flex flex-col items-center bg-[#f6bfd9] justify-center md:p-28 text-center md:w-[50%] md:h-full md:my-0 ">
            <p class="text-2xl font-medium md:text-5xl md:font-sans text-[#233a35]  "> Earn Rewards with a personal cup</p>
            <p class="my-6  space-y-2 font-sans text-xl leading-7 md:text-2xl text-[#233a35]">Recharge with a lively Brown Sugar Oatmilk or Toasted Vanilla Oatmilk Shaken Espresso—140 calories or less in a grande.</p>
   <button class="p-2 border border-[#233a35] rounded-full text-sm pl-4 pr-4 md:font-bold text-[#233a35] md:text-lg">order now</button>        
        </div>
    </div>
</div>
<!-- biscuit -->
<div>
    <div  class="w-full my-7  md:flex md:w-[1480px] md:flex-row-reverse md:bg-black md:mx-auto md:h-[600px]">
        <img class="md:w-[50%] bg-[#fff3d6]" src="../../assets/biscuit.jpg" alt="">
        <div class=" p-7 -my-3  w-full  flex flex-col items-center bg-[#fff3d6] justify-center md:p-28 text-center md:w-[50%] md:h-full md:my-0 ">
            <p class="text-2xl font-medium md:text-5xl md:font-sans text-black  "> Go for goodness</p>
            <p class="my-6  space-y-2 font-sans text-xl  leading-7 md:text-2xl text-black p-2"> Choose our tasty Kale & Mushroom Egg Bites with cage-free eggs and Monterey Jack cheese.</p>
   <button class="p-2 border border-black rounded-full text-sm pl-4 pr-4 md:font-bold text-black">Order Now</button>        
        </div>
    </div>
</div>
<!-- last -->
<div>
    <div  class="w-full my-7  md:flex md:w-[1480px]  md:bg-black md:mx-auto md:h-[600px]">
        <img class="md:w-[50%]" src="../../assets/packet.jpg" alt="">
        <div class=" p-7 -my-3  w-full  flex flex-col items-center bg-[#d4e9e2] justify-center md:p-28 text-center md:w-[50%] md:h-full md:my-0 ">
            <p class="text-2xl font-medium md:text-5xl md:font-sans text-[#233a35]  "> A trailblazing coffee returns</p>
            <p class="my-6  space-y-2 font-sans text-xl leading-7 md:text-2xl text-[#233a35]">Starbucks Odyssey Blend® showcases beans that were grown, cultivated and processed in innovative and responsible ways.</p>
   <button class="p-2 border border-[#233a35] rounded-full text-sm pl-4 pr-4 md:font-bold font-bold text-[#233a35] md:text-lg">order now</button>        
        </div>
    </div>
</div>
<div class="p-5 flex py-6 text-center border-b-2 my-8 border-zinc-300 md:justify-center">
    <p class="text-sm my-7">*At participating stores. Some restrictions apply. See <u> starbucks.com/rewards</u></p>
</div>
































